.bg-header-color{
    background-color: #264653;
   
}
.btn-color{
    background-color: #E76F51;
    border-radius: 5px;
    width: 168px;
    height: 44px;
    
}
.text-color{
    color: #E76F51;
}
.gray-scale{
    filter: grayscale(100%);
}
.image-size{
    width: 288px;
height: 243px;
}
.card{
    width:65%; 
    margin-left: 70px;
}

@media only screen and (max-width:688px) {
    img{
        width:100%;
    }
    .bike{
        margin-left: 10%;
    }
    .faq-1{
        margin-left: 15%;
    }
     .faq-2{
        margin-left: 30%;
     }
        
    }